body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-family: 'Arial', sans-serif;
}
.mainimage{
    width: 100%;
    height: 100%;
    filter: blur(3px); /* Додаємо розмиття */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

main{
    width: 60%;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    
}

.maintext{
    text-align: center;
}
h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}
.in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.in div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.equal{
    display: flex;
    justify-content: center;
}

.out{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.out div{
    display: flex;
    flex-direction: column;
    text-align: center;
}


input{
    font-size: 20px;
    width: 300px;
}
input:focus{
    border-top: none;
    border-left: none;
    outline: none;
    box-shadow: 0 0 5px 0px blue;
}
.erroring p{
    text-align: center;
    color: red;
}

a{
    text-decoration: none;
    color: inherit;
}

.butput{
    align-items: center;
    text-align: center;
    padding: 10px 20px 10px 20px;
    width: 90%;
    height: 50px;
    border: 1px solid black;
}

.butput a{ 
    font-size: 50px;
}

